.transactions {
  width: 100%;
}

.breadcrumb {
  align-items: center;
}

.filters-container {
  display: flex;
  .filters {
    display: flex;
    margin-right: 20px;
    font-size: 14px;
    position: relative;

    .dropdown-filter {
      height: 30px;
    }
    .currency-icon {
      position: absolute;
      margin: 0 15px;
      top: -8px;
      left: -60px;
    }
  }
}
.filters-container[hidden] { display: none };

.transactions-page__content {
  box-sizing: border-box;
  height: calc(100% - 200px);
  margin-top: 50px;
  overflow-y: auto;
  flex-grow: 1;

  .transaction-page__row-info {
    width: 160px;
  }
}

.transaction-page__status {
  margin-left: 40px;
  height: 22px;
  padding: 0 5px;
  line-height: 22px;
  font-size: 0.5rem;
  font-family: 'SFUIText-Bold';
  background-color: #2a3040;
  border-radius: 2px;
}

.transaction-page__row-value {
  font-size: 16px;
  display: flex;
  align-items: center;
  &.type--receive-value {
    color: #a6f7a2;
  }
  &.type--send-value {
    color: #f05555;
  }
}

.transaction__right-menu {
  width: 600px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  box-sizing: border-box;
  height: 100vh;
  background: #161a25;
  display: flex;
  flex-direction: column;
}

.alert .attention {
  line-height: 1.08;

  &:before {
      position: absolute;
      content: '';
      width: 20px;
      height: 20px;
      background: url(../../../../img/sign_attention_red.png) no-repeat center;
      background-size: contain;
      left: calc(55% - 45px);
  }
}