.main-page-menu {
    width: 500px;
}

.main-page-menu__legend {
    width: 250px;
}

.main-page-menu__legend-item {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    padding-right: 30px;
    font-size: 12px;
    &:before {
        content: '';
        position: absolute;
        display: inline-block;
        width: 18px;
        height: 26px;
        background-size: cover;
        left: 0;
        top: calc(50% - 13px);
    }
    &--left:before {
        background-image: url('../../../../../img/button_left_click.png');
    }
    &--right:before {
        background-image: url('../../../../../img/button_right_click.png');
    }
}

.right_menu {
    border-left: solid 1px rgba(255, 255, 255, 0);
}

.popup.receive {
    justify-content: space-between;
    width: 100%;
    overflow: hidden;

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;

        .receive_close_btn {
            height: 10px;
            width: 10px;
            padding: 0;
            margin: 5px 0;
        }
    }

    .body {
        flex-grow: 1;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-right: 4px;

        .item_container {
            width: 100%;

            .item {
                .info {
                    height: 40px;
                }

                .name {
                    display: inline-flex;
                    align-items: center;
    
                    img {
                        background-color: #253a49;
                        width: 8px;
                        height: 8px;
                        padding: 2px;
                        border-radius: 2px;
                        margin-left: 5px;
                    }
                }
            }
            
        }

        .qr_block {
            margin: 0;
            flex-grow: 1;
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .qr_code_img {
                margin: 0 0 65px;
            }

            .alert{
                font-size: 0.9rem;

                .text{
                    color: #d59646;
                }
            }

            .pagination {
                font-size: 0.6rem;
                margin: 20px 0;
                width: 100%;
                display: inline-flex;
                align-items: center;
                justify-content: center;

                .pagination_button {
                    width: 17px;
                    height: 17px;
                    padding: 0;
                    background-color: rgba(255, 255, 255, 0);
                    margin: 0 20px;

                    img {
                        height: 10px;
                        width: 6px;
                    }
                }

                .counter {
                    width: 40px;
                    text-align: center;
                }
            }
        }
    }

    .footer {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;

        .panel_btn {
            position: relative;
            background: transparent;
            outline: none;
            width: 16%;
            height: 100%;
            color: white;
            font-weight: normal;
            font-family: 'SFUIText-Light';
            color: #3d4658;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
        
            &:hover{
                background: linear-gradient(to top, rgba(255,255,255,0.04), rgba(30,87,153,0));
                color: white;

                .btn_img {
                    fill: white;
                }
            }

            .btn_img {
                height: 35px;
                width: 35px;
                margin-bottom: 10px;
                fill: #3d4658;
            }
        }
    }
    
}

