.content.backup_wk{
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.content.backup_wk .left_column .btn.btn_default{
    display: block;
    margin: 23px auto auto;
    padding: 0 55px;
}

.content.backup_wk .right_column .btn{
    display: block;
    margin: 23px auto auto;
}
.content.backup_wk .right_column{
    display: flex;
    flex-direction: column;
}
// .backup_wk_start .alert{
//         margin-bottom: auto;
//     margin-top: auto;
// }

.content.backup_wk .animation_block{
    position: static;
    margin: 50px auto 0;
}

.phrases-actions {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-around;
}

.block-separator {
    border-left: 1px solid rgba(255, 255, 255, 0.04);
    position: absolute;
    top: 0;
    height: 100%;
}