@font-face {
  font-family: "SFUIText-Semibold";
  src: url("../fonts/SFUIText-Semibold.woff2") format("woff2");
}

@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/FontAwesome.woff2") format("woff2");
}

@font-face {
  font-family: "SFUIText-Regular";
  src: url("../fonts/SFUIText-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "SFUIText-Medium";
  src: url("../fonts/SFUIText-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "SFUIText-Light";
  src: url("../fonts/SFUIText-Light.woff2") format("woff2");
}

@font-face {
  font-family: "SFUIDisplay-Semibold";
  src: url("../fonts/SFUIDisplay-Semibold.woff2") format("woff2");
}

@font-face {
  font-family: "SFUIText-Bold";
  src: url("../fonts/SFUIText-Bold.woff2") format("woff2");
}
