.crypto_item.bit {
  background-image: url("../img/items/bit.png");
}

.crypto_item.bch {
  background-image: url("../img/items/bch.png");
}

.crypto_item.eth {
  background-image: url("../img/items/eth.png");
}

.crypto_item.eth_classic {
  background-image: url("../img/items/eth_classic.png");
}

.crypto_item.lit {
  background-image: url("../img/items/lit.png");
}

.crypto_item.doge {
  background-image: url("../img/items/dogecoin.png");
}

.crypto_item.waves {
  background-image: url("../img/items/waves.png");
}

.crypto_item.rip {
  background-image: url("../img/items/rip.png");
}

.crypto_item.dash {
  background-image: url("../img/items/dash.png");
}

.crypto_item.xcp {
  background-image: url("../img/items/xcp.png");
}

.crypto_item.nvst {
  background-image: url("../img/items/nvst.png");
}

.crypto_item.omni {
  background-image: url("../img/items/omni.png");
}

.crypto_item.maid {
  background-image: url("../img/items/maid.png");
}

.crypto_item.rocket {
  background-image: url("../img/items/rocket.png");
}

.crypto_item.slow {
  background-image: url("../img/items/slow.png");
}

.crypto_item.average {
  background-image: url("../img/items/average.png");
}

.crypto_item.bracing {
  background-image: url("../img/items/bracing.png");
}

.crypto_item.arrow_right {
  background-image: url("../img/items/arrow_right.png");
}

.crypto_item.arrow_right_blue {
  background-image: url("../img/items/arrow_right_blue.png");
}

.crypto_item.qr_code {
  background-image: url("../img/items/qr_code.png");
}

.crypto_item.key {
  background-image: url("../img/items/key.png");
}
