<div class="header">
  <div class="logo">
    <img src="../../../img/logo.png" alt=""> Overhold
  </div>
  <button class="back" (click)="backClicked()"></button>
</div>
<div class="submenu general_submenu">
  <div class="title">GENERAL</div>
  <a class="item" routerLink="/app/main" routerLinkActive="active">Home</a>
  <a class="item" routerLink="/app/addresses" routerLinkActive="active">Addresses</a>
  <a class="item" routerLink="/app/transactions" routerLinkActive="active">Transactions</a>
  <a class="item" routerLink="/app/price" routerLinkActive="active">Price</a>
  <!-- <a class="item" routerLink="/app/exchange" routerLinkActive="active">Exchange</a> -->
</div>
<div class="submenu settings_submenu">
  <div class="title">SETTINGS</div>
  <a class="item" routerLink="/app/backup-wk" routerLinkActive="active">Backup Wallet</a>
  <a class="item" routerLink="/app/settings" routerLinkActive="active">Settings</a>
</div>